<h1>Edit Blog Post by ID</h1>
<h3>Post : <%= @post.name%></h3>
<%= @post.content%>
<form action="/posts/<%= @post.id%>" method="post">
    <input type="text" name="name">
    <input type="text" name="content">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="submit" name="submit" value="submit">
</form>
